.circle{
	behavior: url(border-radius.htc);
}

#like, #dislike {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37542a4f', endColorstr='#37542a4f',GradientType=1 );
}

footer {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39542a4f', endColorstr='#39542a4f',GradientType=1 );
}
