.blur {
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}

.circle{
	behavior: url('border-radius.htc');
}

#like, #dislike {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37542a4f', endColorstr='#37542a4f',GradientType=1 );
}

footer {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39542a4f', endColorstr='#39542a4f',GradientType=1 );
}

.online {
	background: url('../images/online_indicator.png') no-repeat center center;
}

nav ul li:first-child + li + li + li + li + li + li + li > a {
	border-bottom: none;
}

nav ul {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#406B4667', endColorstr='#406B4667',GradientType=1 );
}

.premium {
	background: url('../images/premium_button.png') no-repeat;
	border: none;
}

.premium > span {
	background:url('../images/star.png') no-repeat 32px 7px;
	display: block;
	width: 100%;
}
.premium:hover {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10ffc154', endColorstr='#10ffc154',GradientType=1);
}

#pull_down {
	background: url('../images/pull_down_ie.png') no-repeat 0 0;
}

